<?xml version="1.0" encoding="utf-8"?>
<odoo>
        <menuitem id="medical_root_menu" name="Medical" web_icon="medical_store,static/description/icon.svg" sequence="0" />
        <menuitem id="product_details_menu" parent="medical_root_menu" sequence="0" />
        <menuitem id="product_catogory_menu" parent="medical_root_menu" />
</odoo>